        /* <!-- 3. Ajacent selector --> */


        body{
            background-color:#808080;
        }

        .class1 + p {

        color: aqua;
        }


        .class2 + p {

            color: aqua; }


        /* <!-- For general sibling selector --> */


        section ~ p {
            color: brown;
        }
